@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

*{
	margin: 0;
	padding: 0;
}

body { 
	background-color: rgb(1, 4, 39); 
}

.cabecalho {
	display: flex;
	justify-content: space-between;
	background-color: #08649E;
	padding: 10px;
}

.textoLogo{
	width: 300px;
	text-align: center;
    font-family: 'Kaushan Script', cursive; 
    color: #CCE8F8;
    text-shadow: 1px 1px 3px #000;
}

/* FORMATAÇÃO MENU */

.menu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.menu a {
	width: 80px;
	height: 100%;
	text-align: center;
	font-family: 'Acme', sans-serif;
	padding: 5px 15px;
	text-shadow: 1px 1px 3px #000;
	text-decoration: none;
	color: #139BE2;
	font-size: 15pt;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.menu a:hover {
	background-color: #139BE2;
	color: #CCE8F8;
}

/* Section Principal */

.principal {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	background-image: url(../_imagens/universo.jpg);
}

article#introducao{
	background-color: #17111fad;
	max-width: 600px;
	margin: 80px;
	padding: 15px;
	border-radius: 30px;
}

article#introducao h1 {
	text-align: center;
	font-size: 25pt;
	padding: 10px;
	color: #139BE2;
    text-shadow: 1px 1px 5px #cce8f860;
}

article#introducao p {
	text-indent: 30px;
	text-align: justify;
	padding: 10px;
	font-size: 15pt;
	color: #fff;
	text-shadow: 1px 1px 5px #cce8f8c2;

}

#logo {
	-webkit-filter: drop-shadow(5px 5px 50px rgba(238, 245, 250, 0.87));
  	filter: drop-shadow(5px 5px 50px rgba(238, 245, 250, 0.87));
}

/*-----------------------------------*/

section#sessao {
	display: flex;
	background-image: linear-gradient(#000000, rgb(1, 1, 104));
}

section#sessao h1 {
	text-align: left;
	background-color: #CCE8F8;
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	padding: 10px;
	margin: 10px;
	margin-bottom: 30px;
	box-shadow: 1px 1px 4px;
	border-radius: 10px;
}

.artigo p {
    text-align: justify;
    text-indent: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
	padding: 5px;
}

.artigo {
	width: 400px;
	background-color: #08649E;
    margin: 20px;
    padding: 15px;
    box-shadow: 1px 1px 4px;
    border-radius: 25px;
}

.artigo p {
	
}

/*article#foundation img#predios {
	padding-left: 120px;
}*/


/*article#objetivo img#urantia{
	padding-left: 120px;
}*/


/*article#realizacao img#livro{
	padding-left: 120px;
}*/

/* Formatando rodapé */

footer {
	clear: both;
	height: 50px;
	background-color: #08649E;
}

footer p {
	font-family: 'Montserrat', sans-serif;
	padding: 10px;
	text-align: center;
	size: 10pt;
}